// Подключение шрифтов

// Файл обнуляющих стилей
@import "_nullstyle";

body {
	height: 100%;
	line-height: 1;
	font-size: 23px;
	font-weight: 400;
	color: #f7f7f7;
	font-family: "Open Sans";
	// font-family: Roboto;
	background: #cccccc;

	&._lock {
		overflow: hidden; //! добавляем класс "_lock" в JS для запрета прокрутки при активном меню-бургере
	}
}

// ОБОЛОЧКА
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// ОСНОВНАЯ СЕТКА
._container {
	// max-width: $mw + px;
	max-width: 1200px;
	padding: 0px 15px; //! это отступы безопасности
	margin: 0px auto; //! позволяет контейнеру выстроиться посередине
	box-sizing: content-box;
	//! Переключили контейнер с border-box на content-box после добавления паддинга, чтобы паддинг не считался частью max-width
}

._ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//================================================================================================

// Подключение header
@import "_header";

//================================================================================================

// ОСНОВНОЙ БЛОК: CONTENT

//================================================================================================

//========  ===============================================================================

//========  =============================================================================

//========  ================================================================================

//================================================================================================

// Подключение footer
@import "_footer";
